.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__links {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $background-gradient;
  }

  &__social {

  }
}


.links {
  flex: 0 1 1050px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  color: #FFFFFF;

  &__column {

    &:last-child {
      width: 321px;
    }
  }

  &__title {
    color: inherit;
    margin-bottom: 20px;
    text-transform: capitalize;
  } 

  &__list {

  }

  &__link {
    margin-bottom: 10px;
    color: inherit;

    &:last-child {
      margin-bottom: 0px;
    }

    &--thisImg {
      display: flex;
      
      h6 {
        margin-left: 10px;
        color: inherit;
      }
    }
  }
}
  

.social {
  flex: 0 1 1040px;
  background-color: red;
  min-height: 74px;
}