.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__areas {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__advice {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-section-color;
  }

  &__who {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__information {
    display: flex;
    justify-content: center;
    width: 100%;
    background:  url(/src/assets/images/main/information/blue_bg.png), $background-section-color;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (max-width:710px) {
      background: $background-section-color;
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-section-color;
  }

  &__consultation {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;

  }
}

.section-name {
  max-width: 864px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width:470px) {
    max-width: 260px;
  }

  &__title {
    text-align: center;
    margin-bottom: -5px;
    width: 100%;
    text-transform: capitalize;
  }

  &__message {
    text-align: center;
    max-width: 431px;
    white-space: pre-wrap;
    margin-top: 15px;
  }
}

//   == SECTION : AREAS ==
.areas {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-top: 100px;
    margin-bottom: 60px;

    @media (max-width:710px) {
      margin-top: 145px;
      margin-left: -5px;
      margin-bottom: 55px;
    }
  }

  &__views {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1046px;
    margin: 0 20px;
    column-gap: 34px;
    row-gap: 30px;
    margin-bottom: 102px;

    @media (max-width:710px) {
      margin-bottom: 100px;
    }
  }
}

.area {
  width: 325px;
  height: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #F9F9F9;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

  &__img {
    margin-bottom: 7px;
    width: 53px;
    height: 53px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  &__caption {
    color: inherit;
    text-transform: capitalize;
  }
  
  &--active {
    background-color: rgb(126, 126, 255);
    color: white;
  }
}

//   == SECTION : ADVICE ==
.advices {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-top: 125px;
    margin-bottom: 25px;

    @media (max-width:710px) {
      margin-top: 100px;
      margin-bottom: 55px;

    }
  }

  &__views {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1046px;
    margin: 0 20px;
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 112px;

    @media (max-width:710px) {
      margin-bottom: 175px;
    }
  }
}

.advice {
  width: 230px;
  height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;

  &__text-container {
    padding: 30px 40px 0px 29px;
    height: 100%;

    @media (max-width:710px) {
      padding-right: 30px;
    }
  }

  &__title {
    max-width: 145px;

    @media (max-width:710px) {
      max-width: 100%;
    }
  }

  &__caption {
    margin-top: 15px;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width:710px) {
      max-width: 160px;
    }
  }

  &__img {
    height: 138px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

//   == SECTION : WHO ==
.who {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width:710px) {
    margin-bottom: 85px;
  }

  &__header {
    margin-top: 100px;
    margin-bottom: 85px;

    @media (max-width:710px) {
      margin-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1046px;
    margin: 0 40px;
    margin-bottom: 102px;
    column-gap: 70px;

    @media (max-width:930px) {
      justify-content: center;
    }
  }

  &__video-container {
    position: relative;
    flex: 1 1 450px;
    max-width: 597px;
    height: 442px;
    z-index: 1;
    
    @media (max-width:710px) {
      min-height: 442px;
      margin-right: 2px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video-trigger {
    position: absolute;
    background-image: url(/src/assets/images/main/who/video-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;

    &::before {
      position: absolute;
      width: 98px;
      height: 98px;
      top: calc(50% - 49px);
      left: calc(50% - 49px);
      content: url(/src/assets/images/main/who/play.svg);
    }
  }

  &__advantage-container {
    flex: 0 1 330px;
    margin-top: 30px;
    margin-bottom: 50px;

    @media (max-width:930px) {
      margin-top: 70px;
    }
  }
}

.advantage {

  &__upper-row {
    margin-bottom: 50px;
  }
  
  &__lower-row {

    @media (max-width:710px) {
      margin-top: 53px;
    }

    .advantage-item:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__caption {
    width: 306px;
  }

}

.advantage-item {
  display: flex;

  &__img {
    width: 35px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 4px;
  }
}

//   == SECTION : INFORMATION ==
.information {
  position: relative;
  min-height: 339px;
  max-width: 1050px;
  flex: 1 1 1050px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__sponsors {
    flex: 1 1 100%;
    min-height: 175px;
    width: 100%;
    max-height: min-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @media (max-width:710px) {
      justify-content: center;
      width: 153px;
      margin-top: 30px;
      margin-bottom: 63px;
    }
  }

  &__sponsor {
    padding: 0 5px;

    @media (max-width:710px) {
      padding: 50px 5px 2px;

    }

    img {
      @media (max-width:710px) {
        width: 153px;
        object-fit: cover;
      }
    }

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }

  &__subscribe {
    flex: 1 1 124px;
    margin: 20.5px 0;
    flex-wrap: wrap;
    max-width: 985px;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $background-gradient;
    padding: 30px 52px 30px 50px;
    border-radius: 2px;

    @media (max-width:860px) {
      justify-content: center;
    }

    @media (max-width:710px) {
      justify-content: center;
      padding-left: 38.5px;
      padding-right: 40px;
      margin-bottom: 0px;
    }
  }

  &__title {
    max-width: 270px;
    text-transform: capitalize;
    color: white;

    @media (max-width:860px) {
      text-align: center;
    }
  }

  &__input-container {
    position: relative;
    max-width: 450px;
    width: 100%;
    height: 58px;
    display: flex;

    @media (max-width:860px) {
      margin: 0 50px;
      margin-top: 30px;
    }
    
    @media (max-width:710px) {
      margin: 0px;
      margin-top: 30px;

    }
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0px 130px 0 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    background-color: #F9F9F9;
    outline: none;
    color: $second-text-color;
    margin-left: -1px;
  }

  button {
    position: absolute;
    height: 100%;
    right: 0;
    top: calc(50% - 58/2);
    font-size: 14px;
    line-height: 28px;
    font-family: 'Montserrat';
    font-weight: 400;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
  }
}

//   == SECTION : CONTACTS ==
.contacts {
  padding: 0 43px;

  &__header {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    @media (max-width:710px) {
      margin-top: 75px;
    }
  }

  &__content {
    width: 100%;
    min-height: 395px;
    margin-top: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 155px;
    
    @media (max-width:1050px) {
      flex-direction: column;
      row-gap: 30px;
      margin-top: 40px;
      margin-bottom: 137px;
    }
  }
}

.contact {
  width: 328px;
  height: 333px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 59px ;
  background-color: white;
  color: $text-color;
  
  &__img {
  }
  
  &__email {
    color: inherit;
    
    h6 {
      text-align: center;
      color: inherit;
    }
  }
  
  &__title {
    color: inherit;
    text-transform: capitalize;
  }

  &__button {
    padding: 7px 20px;
    border-radius: 5px;
  }
  
  &--primary {
    height: 393px;
    padding: 80px 59px ;
    color: white;
    background-color: $text-color;
  }
}

//   == SECTION : CONSULTATION ==
.consultation {
  max-width: 1046px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;

  @media (max-width:710px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    margin: 0;
  }

  &__caption {
    max-width: 500px;
  }

  &__title {
    text-transform: capitalize;
  }

  &__text {
    margin-top: 10px;

    @media (max-width:710px) {
      margin-right: 0;
      max-width: 170px;
    }
  }

  &__button {
    max-height: 58px;
    margin-top: 2px;
    margin-right: 144px;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: $secondary-color-2;

    @media (max-width:900px) {
      margin-right: 30px;
    }

    @media (max-width:710px) {
      margin-right: 0;
      width: 100%;
      max-width: 236px;
      margin-top: 50px;
    }
  }
}
